@import "node_modules/bootstrap/scss/bootstrap";
@import "app";

$allertonBlue: #0E233A;
$allertonYellow: #F1C52E;

html, body {
    height: 100%;
}

body {
    background: white;
    padding: 0
}

h1 {
    display: none;
}

.main {
    text-align: center;
    height: 100%;
    overflow-x: show;
    // padding: 0 0.5rem;
    // max-width: calc(100% - 1rem);
    h3 {
        color: $allertonBlue;
    }

    img {
        width: 300px;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-right: 1rem;
}

.details {
    color: #898989;
    text-align: center;
    margin-top: 5rem;
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    width: 100%;
    p {
        margin: 0;
    }
}

@include media-breakpoint-up(md) {
    .main {
        padding: 0;
    }
}

.mailchimp {
    width: 380px;
    margin: 0 auto;
    background: white;
    z-index: 2;
    position: relative;

    h3 {
    	margin: 0;
    	font-size: 16px;
    	margin-bottom: 1rem;
    }

    input[type="email"] {
        width: 70%;
        display: inline-block;
        &:focus {
            box-shadow: none;
            border-bottom: 1px solid $allertonBlue;
        }
    }

    button {
        background: #0E233A;
        color: white;
        font-weight: normal;
        border: none;
        border-radius: 5px;
        display: inline-block;
        padding: 7px 0.4rem;
        width: 20%;
        position: relative;
        left: 0;
        cursor: pointer;
    }

    .response {
        color: grey;
        font-size: 12px;
    }
}