<% include partials/header %>
<section class="main">
	<h1>Kaiser Bear</h1>
	<img src="/img/kaiserbear-logo.svg" alt="Kaiser Bear">
<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup" class="mailchimp">
		<h3>Stay up to date, get an email when we go live.</h3>

		<form action="https://kaiserbear.us18.list-manage.com/subscribe/post?u=f2250fce2df00b1045220624c&amp;id=118266fed9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="form-group">
				<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="john.smith@example.com">
				<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Submit</button>
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_f2250fce2df00b1045220624c_d2a6fe6491" tabindex="-1" value="">
				</div>
			</div>
		</form>
	</div>

<!--End mc_embed_signup-->
</section>
<% include partials/footer %>